
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

* {
    margin: 0px;
    padding:0px ;
    box-sizing: border-box;
}

header {
    background-color: #FFF8F3;
    padding-top: 50px;
  
}

/* .Navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */



nav{
    width: 70%;
    /* max-width: 1912px; */
    margin: 0px auto;
    display:flex ;
    justify-content: space-between;
    align-items: center;

    
}
.color-orange {
    color: #FD6E0A;

}

.logo{
 font-weight: 900;
 font-size: 25px;
}
 nav .menu{
    display: flex;
    list-style: none;
    text-decoration-style: none;
    gap: 51px;
    align-items: center;
 }

 nav .menu a{
    font-size: 15px;
    

 }

 /* sharred style */

 .btn {
    background-color: #FD6E0A ;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    padding: 18px 25px;
    color: white;
    font-weight: 550;
 }